.eslintrc.json
/WebApp/test/QUnit/report/**
/WebApp/test/QUnit/resources
/WebApp/src/html/**
/WebApp/src/css/**
/Server/src/node_modules
/Server/test/Cucumber/features/**
/Server/test/Cucumber/report
!/Server/test/Cucumber/features/steps
!/Server/test/Cucumber/features/support
/Server/src/package.json
/Server/src/package-lock.json
/Documentation/**