<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home - CBR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131498245-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-131498245-2');
    </script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- Set up additional functions -->
    <script src="../js/util.js"></script>
    <script src="../js/analytics.js"></script>

    <!-- Set up pattern classes -->
    <script src="../js/patterns/Observer.js"></script>

    <!-- Get classes -->
    <script src="../js/classes/sessions.js"></script>
    <script src="../js/classes/books.js"></script>
    <script src="../js/classes/chat.js"></script>
    <script src="../js/classes/notes.js"></script>
    <script src="../js/classes/users.js"></script>
    <script src="../js/classes/collabbookreader.js"></script>

    <!-- Set up angular -->
    <script src="../js/angular/angularmainapp.js"></script>
    <script src="../js/angular/book.js"></script>
    <script src="../js/angular/chat.js"></script>
    <script src="../js/angular/sessions.js"></script>
    <script src="../js/angular/notes.js"></script>

    <!-- Set up observers -->
    <script src="../js/patterns/setobservers.js"></script>

    <!-- Set up QUnit Tests -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qunit/2.8.0/qunit.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qunit/2.8.0/qunit.min.js"></script>

    <script src="../../test/Qunit/tests/sessionsqunit.js"></script>
    <script src="../../test/Qunit/tests/booksqunit.js"></script>
    <script src="../../test/Qunit/tests/chatqunit.js"></script>
    <script src="../../test/Qunit/tests/notesqunit.js"></script>
    <script src="../../test/Qunit/tests/usersqunit.js"></script>

    <!-- Start main.js after unit tests are complete -->
    <script src="../js/main.js"></script>

</head>

<body>
    <div class="row border main" id="main" ng-app="AngularMainApp">
        <div class="alerts">
            <div id="sessionNoLongerAvailableAlert" class="alert alert-info fade show" role="alert">
                The session you were viewing is no longer available
                <button id="sessionNoLongerAvailableClose" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- Sesssion Lists -->
        <div class="col-12 col-md-3 no-gutters flexboxcolumns">
            <div id="displayUsername" class="username-init border">
                <p>Welcome, <b><span id="spanUsername"></span></b> </p>
            </div>
            <ul id="sessionTabList" class="nav nav-tabs" role="tablist">
                <li class="nav-item active"><a id="availableSessionsTabHeading" href="#availableSessions" role="tab" data-toggle="tab" class="nav-link active">Available
                        Sessions</a></li>
                <li class="nav-item"><a id="currentUserSessionTabHeading" href="#currentUserSession" role="tab" data-toggle="tab" class="nav-link">My Session</a></li>
            </ul>
            <div class="tab-content sessionList">
                <!-- Available Session List -->
                <div id="availableSessions" ng-controller="availableSessionsCtrl" class="tab-pane active list-3-+group">
                    <a href="" role="button" ng-repeat="session in availableSessions" class="list-group-item list-group-item-action" id="availableSessionId{{session._id}}" ng-click="showSessionDetails(session)" ng-bind="session.name"></a>
                    <!-- Available Session Details Modal Popup -->
                    <div class="modal" id="availableSessionDetailsModal" tabindex="-1" role="dialog" aria-labelledby="availableSessionDetailsModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="availableSessionDetailsModalLabel"><span>Session Details</span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Session Name: <b><span id="displayedSessionName" ng-bind="displaySession.name"></span></b></p>
                                    <p>Currently reading: <b><span id="displayedSessionBookTitle" ng-bind="displaySession.currentBook.title"></span></b></p>
                                    <p>Owner: <b><span id="displayedSessionOwner" ng-bind="displaySession.owner"></span></b></p>
                                    <br>
                                    <span id="canJoinSession"></span>
                                </div>
                                <div class="modal-footer">
                                    <button id="availableSessionDetailsModalClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="availableSessionDetailsModalJoinSession" type="button" class="btn btn-primary" ng-click="joinSession(displaySession)">Join Session</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Current User Session -->
                <div id="currentUserSession" ng-controller="currentUserSessionCtrl" class="tab-pane list-group">
                    <div id="currentUserSessionDetails">
                        <div id="currentUserSessionDetailList">
                            <input type="hidden" id="currentUserSessionId{{session._id}}">
                            <p>Session Name: <b><span id="currentUserSessionName" ng-bind="currentUserSession.name"></span></b></p>
                            <p>Currently reading: <b><span id="currentUserSessionBookTitle" ng-bind="currentUserSession.currentBook.title"></span></b></p>
                            <p>Owner: <b><span id="currentUserSessionOwner" ng-bind="currentUserSession.owner"></span></b></p>
                            <p>Users in session:</p>
                            <ul id="currentUserSessionUsers" class="list-group">
                                <li class="list-group-item" ng-repeat="user in currentUserSessionUsers">{{user.username}}</li>
                            </ul>
                        </div>
                        <button id="currentUserSessionDetailsLeaveSession" type="button" class="btn btn-primary leaveSession" ng-click="leaveSession(currentUserSession)">Leave Session</button>
                    </div>
                    <div id="currentUserSessionCreate">
                        <button class="btn btn-primary createNewSession" id="createNewSession" ng-click="displayCreateNewSessionDetails()">Create
                            a new session</button>
                    </div>
                    <!-- Create new Session details Modal -->
                    <div class="modal" id="createNewSessionModal" tabindex="-1" role="dialog" aria-labelledby="createNewSessionModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createNewSessionModalLabel">Create new Session</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Select the details for your new session below, the click "Create Session".</p>
                                    <form id="createNewSessionForm" class="needs-validation" onsubmit="return false" novalidate>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Session Name</span>
                                            </div>
                                            <input id="createNewSessionName" type="text" placeholder="Name" class="form-control" required>
                                            <div class="invalid-feedback">
                                                Please enter a name for your session.
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Book</span>
                                            </div>
                                            <select id="createNewSessionBook" class="form-control" ng-controller="bookListCtrl" required>
                                                <option value="" disabled selected>--Select a book--</option>
                                                <option ng-repeat="book in bookList" value="{{book._id}}">{{book.title}}</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select the book you would like to view in your session.
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="createNewSessionModalClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="createNewSessionModalJoinSession" type="button" class="btn btn-primary" ng-click="createNewSession()">Create Session</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 no-gutters">
            <!-- Book page display -->
            <div id="bookPageCarousel" data-interval="false" class="carousel slide" data-ride="carousel" ng-controller="bookPageCtrl">
                <!-- Book Carousel Warnings -->
                <div class="alerts">
                    <div id="prevPageWarning" class="alert alert-warning fade show" role="alert">
                        You are at the start of the book
                        <button id="prevPageWarningClose" type="button" class="close" ng-click="hidePrevPageWarning()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="nextPageWarning" class="alert alert-warning fade show" role="alert">
                        You have reached the end of the book
                        <button id="nextPageWarningClose" type="button" class="close" ng-click="hideNextPageWarning()" aria-label=" Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <!-- Book Carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active" id="bookPage">
                        <img id="bookPageImage" class="img-fluid border bookPageImg" ng-src="{{currentBookPage.currentPage.src}}" alt="Page could not be found" />
                    </div>
                </div>
                <a id="bookPageCarouselPrev" class="carousel-control-prev" href="#bookPageCarousel" role="button" data-slide="prev" ng-click="getPreviousPage(currentBookPage)">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a id="bookPageCarouselNext" class="carousel-control-next" href="#bookPageCarousel" role="button" data-slide="next" ng-click="getNextPage(currentBookPage)">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-3 no-gutters flexboxcolumns chatArea border">
            <!-- Book details -->
            <div id="bookDetails" class="bookdetails" ng-controller="bookPageDetailsCtrl">
                <!-- if reading a book, then display book details -->
                <!-- else display "Nothing" -->
                <p id="pBookPageDetails" ng-if="currentBookPage._id" class="text-center" ng-cloak><strong>Currently Reading: {{currentBookPage.title}} - Page: {{currentBookPage.currentPage.pageNum + 1}}</strong></p>
                <p id="pBookPageDetails" ng-if="!currentBookPage._id" class="text-center"><strong>Currently Reading: Nothing</strong></p>
            </div>
            <ul id="chatNotesTabList" class="nav nav-tabs" role="tablist">
                <li class="nav-item active"><a id="chatHeading" href="#chatMessageArea" role="tab" data-toggle="tab" class="nav-link active">Chat</a></li>
                <li class="nav-item"><a id="notesHeading" href="#notesArea" role="tab" data-toggle="tab" class="nav-link">Notes</a></li>
            </ul>
            <div class="tab-content chatNotesTabContent">
                <div id="chatMessageArea" ng-controller="chatMessagesCtrl" class="tab-pane active list-3-+group border">
                    <!-- Chat message list -->
                    <ul id="chatMessages" class="list-group chatMessages">
                        <li ng-repeat="message in chatMessages" class="list-group-item chatMessage" ng-cloak>
                            <span ng-if="!message.notification">
                                <b>{{message.user}}</b>
                                : {{message.message}}
                            </span>
                            <span ng-if="message.notification">
                                <b>{{message.message}}</b>
                            </span>
                        </li>
                    </ul>
                    <!-- Chat message input -->
                    <div class="chatInput">
                        <input id="chatInputMessage" type="text" placeholder="Enter your message here" class="chatInputMessage" ng-model="messageToSend" ng-keypress="chatMessageEnter($event)">
                    </div>
                </div>
                <!-- Notes List  -->
                <div id="notesArea" ng-controller="noteListCtrl" class="tab-pane list-3-+group">
                    <div id="notesDisplay" class="list-group">
                        <div class="accordion" id="notesAccordion">
                            <!-- All Pages Notes -->
                            <div class="card">
                                <div class="card-header" id="allPagesNotesHeading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#allPagesNotes" aria-expanded="true" aria-controls="allPagesNotes">
                                            All Pages ({{noteList.length}})
                                        </button>
                                    </h5>
                                </div>
                                <div id="allPagesNotes" class="collapse notelist" aria-labelledby="allPagesNotesHeading" data-parent="#notesAccordion">
                                    <ul id="allPagesNotesBody" class="card-body list-group">
                                        <li class="list-group-item flex-column align-items-start" ng-repeat="note in noteList">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{note.user}} - Page {{note.pageNum + 1}}</h5>
                                                <button type="button" class="btn btn-dark" ng-click="displayDeleteNote(note)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <p class="mb-1">{{note.note}}</p>
                                        </li>
                                </div>
                            </div>
                            <!-- Current Page Notes -->
                            <div class="card">
                                <div class="card-header" id="currentPageNotesHeading">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#currentPageNotes" aria-expanded="false" aria-controls="currentPageNotes">
                                            Current Page: {{currentPageNum + 1}} ({{currentPageNoteList.length}})
                                        </button>
                                    </h5>
                                </div>
                                <div id="currentPageNotes" class="collapse notelist" aria-labelledby="currentPageNotesHeading" data-parent="#notesAccordion">
                                    <ul id="currentPageNotesBody" class="card-body list-group">
                                        <li class="list-group-item flex-column align-items-start" ng-repeat="note in currentPageNoteList">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{note.user}}</h5>
                                                <button type="button" class="btn btn-dark" ng-click="displayDeleteNote(note)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <p class="mb-1">{{note.note}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="noteCreate">
                        <button id="createNewNote" class="btn btn-primary createNewNote" id="createNewNote" ng-click="displayCreateNewNoteDetails()">Add a note</button>
                    </div>
                    <!-- Create new Note details Modal -->
                    <div class="modal" id="createNewNoteModal" tabindex="-1" role="dialog" aria-labelledby="createNewNoteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createNewNoteModalLabel">Add a note</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Please enter the details for your new note</p>
                                    <form id="createNoteForm" class="needs-validation" onsubmit="return false" novalidate>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Page Number</span>
                                            </div>
                                            <select id="createNewNotePageNumList" class="form-control" required>
                                                <option ng-repeat="x in getPageNumArray()" value="{{x}}">{{x}}</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select a page number for your note.
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Note</span>
                                            </div>
                                            <textarea id="createNewNoteDetails" placeholder="Enter your note here..." class="form-control" required ng-keypress="noteEnter($event)"></textarea>
                                            <div class=" invalid-feedback">
                                                Please enter some details for your note.
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="createNewNoteModalClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="createNewNoteModalJoinSession" type="button" class="btn btn-primary" ng-click="createNote()">Create note</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Delete Note Modal -->
                    <div class="modal" id="deleteNoteModal" tabindex="-1" role="dialog" aria-labelledby="deleteNoteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteNoteModalLabel">Delete?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h3>Note Details</h3>
                                    <p>User: <b><span id="deleteNoteModalUser">{{noteToDelete.user}}</span></b></p>
                                    <p>Page:  <b><span id="deleteNoteModalPageNum">{{noteToDelete.pageNum + 1}}</span></b></p>
                                    <p>Message:  <b><span id="deleteNoteModalDetails">{{noteToDelete.note}}</span></b></p>
                                </div>
                                <div class="modal-footer">
                                    <button id="deleteNoteModalClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="deleteNoteModalJoinSession" type="button" class="btn btn-danger" ng-click="deleteNote(noteToDelete)">Delete note</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Username modal -->
    <div class="modal" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="usernameModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="usernameModalLabel"><span>Welcome to the Collaborative Book Reader</span></h5>
                </div>
                <div class="modal-body">
                    <p>This application allows you to read a book in real time with others users. User in the same session can:</p>
                    <ul>
                        <li>Read a book at the same time. As someone navigates through the book, the page will also change for the others users</li>
                        <li>Chat via a text chat</li>
                        <li>Add notes to page in the book that all users can see</li>
                    </ul>
                    <p>To continue you must enter a username. This username will be your name in any session that you join</p>
                    <form id="usernameForm" class="needs-validation" onsubmit="return false" novalidate>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Username</span>
                            </div>
                            <input type="text" id="inputUsername" placeholder="" class="form-control" required />
                            <div class="invalid-feedback">
                                Please enter a username.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="setUsername()">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <!-- No connection modal -->
    <div class="modal" id="noConnectionModal" tabindex="-1" role="dialog" aria-labelledby="noConnectionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noConnectionModalLabel"><span>An error has occured</span></h5>
                </div>
                <div class="modal-body">
                    <p>An error has occured while attempting to connect</p>
                    <p>Please reload and try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="location.reload()">Retry?</button>
                </div>
            </div>
        </div>
    </div>

    <div id="qunit" class="col-12"></div>
    <div id="qunit-fixture" class="col-12"></div>
</body>

</html>